@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Arbutus Slab", serif !important;
}

.cLine{
  border: 2px solid darkblue;
  border-radius: 10px;
  width: 15%;
}

h1{
  margin-bottom: 5px;
}

/*Main Section Starts Here*/

#main{
  width: 100%;
  background-color: #f9f9f9;
  margin-top: 60px;
}

#main .para{
  width: 85%;
  padding: 20px;
}

#main .para h1{
  font-size: 40px;
  color: darkblue;
}

#main .para p{
  padding: 20px 0;
  font-size: 22px;
  letter-spacing: 1px;
  color: #123;
}

#main .img{
  width: 100%;
}

#main .img img{
  width: 100%;
}

/*Main Section Ends Here*/

/*What We Do Starts Here*/

#what-we-do{
  width: 100%;
}

#what-we-do .heading{
  width: 80%;
  padding: 25px;
}

#what-we-do .heading h1{
  font-size: 25px;
}

#what-we-do .card{
  width: 80%;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}

#what-we-do .card .box{
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
  margin: 20px auto;
}

#what-we-do .card .box .img{
  width: 30%;
}

#what-we-do .card .box .img img{
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
}

#what-we-do .card .box p{
  margin-top: 10px;
  font-size: 20px;
}

/*What We Do Ends Here*/

/* Our Vision Starts Here */

#vision{
  height: 100vh;
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
}

#vision .heading{
  padding: 20px;
  padding-bottom: 10px;
}

#vision .heading h1{
  font-size: 25px;
  color: #fff;
}

#vision .para{
  padding-top: 0;
  padding: 20px;
}

#vision .para p{
  font-size: 20px;
  color: #123;
}

#vision .img{
  margin-top: 40px;
  width: 100%;
}

#vision .img img{
  width: 100%;
}

/* Our Vision Ends Here */

/* Our Mission Starts Here */

#mission{
  height: 100vh;
}

#mission .heading{
  padding: 20px;
  padding-bottom: 10px;
}

#mission .heading h1{
  font-size: 25px;
  color: #fff;
}

#mission .para{
  padding-top: 0;
  padding: 20px;
}

#mission .para p{
  font-size: 20px;
  color: #123;
}

#mission .img{
  width: 100%;
}

#mission .img img{
  width: 100%;
}
/* Our Mission Ends Here */

/*Team Section Starts Here*/

#team{
	align-items: center;
}

#team a{
	color: #fff;
}

#team .heading{
  padding: 20px;
  padding-bottom: 0;
  
}

#team .heading h1{
  font-size: 25px;
  color: #333;
  position: relative;
}

#team .card-wrap{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
}

#team .card{
  width: 80%;
	background-color: #ebeef8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem auto;
	box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
}

#team .card .card-img{
	width: 100%;
	height: 15rem;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 58%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 58%, 0% 100%);
}

#team .profile-img{
	border: 1px solid #ebeef8;
	background-color: #000;
	height: 10rem;
	width: 10rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -8rem;
	z-index: 1;
}

#team .card h1{
	font-size: 25px;
	color: #333;
	margin: 1rem 0;
}

#team .card .about{
	font-size: 15px;
	margin: 1rem 0;
	font-style: italic;
	text-align: center;
	color: #333;
}

#team .card .btn{
	padding: 1rem 2.5rem;
	width: 7rem;
	background-color: #445ae3;
	text-align: center;
	border-radius: 2rem;
	margin: .5rem 0;
	text-transform: uppercase;
	color: #eee;
}

#team .card .btn:hover{
	transform: translateY(-2px);
	box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .2);
}

#team .card .btn:active{
	transform: translateY(0);
	box-shadow: none;
}

#team .card .social-media{
	width: 100%;
	list-style: none;
	display: flex;
	margin: .5rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#team .card .social-media li{
	width: 30px;
	margin: 0 auto;
}

#team .card .social-media img{
  width: 100%;
  margin-top: 5px;
}


/*Team Section Ends Here*/