@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Arbutus Slab", serif !important;
}

/*Main Section Starts Here*/

#main {
  width: 100%;
  height: 40rem;
  background: linear-gradient(
    -225deg,
    rgba(235, 87, 129, 1) 0%,
    rgba(246, 127, 86, 1) 100%
  );
}

.main-wrap {
  width: 85%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-text {
  text-align: center;
  color: white;
}

.main-text * {
  margin: 0;
}

.main-text h1 {
  font-size: 35px;
  line-height: 40px;
  padding: 2rem 0 0.2rem;
}

.main-text h2 {
  font-size: 23px;
  color: white;
  padding: 1rem 0;
}

.main-text p {
  font-size: 19px;
  line-height: 24px;
  text-align: left;
}

.main-wrap img {
  width: 85%;
  margin: 0 auto;
}

.main-wrap a {
  background: #f54f4f;
  border: 1px solid #b96b6b;
  box-sizing: border-box;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
  border-radius: 54px;
  padding: 10px 25px;
  font-size: 20px;
  color: black;
  width: 13rem;
  text-align: center;
}

/* Main Section Ends Here */