/* Carousel Starts Here */

#carousel img {
    height: 100%;
    width: 100%;
}

#carousel{
    height: 60vh;
    width: 100%;
    margin-top: 60px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.4;
    letter-spacing: 2px;
    color: #fff;
}

#carousel span {
  cursor: pointer;
  transition: all 0.5s;
}

#carousel span:hover {
  color: #363636;
  transform: scale(1.5);
}
/* Slider */

#carousel .slider {
  position: relative;
  width: 100%;
  min-height: 100%;
}

#carousel .slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

#carousel .slide p{
  font-size: 22px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}

#carousel .active-slide {
  display: block;
}
/* Controls */

#carousel .slider-nav {
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: -50px;
}

#carousel .arrow-prev,
#carousel .arrow-next{
  margin: 0 10%;
  width: 28px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
  font-size: 1.5rem;
  color: #2e2e2e;
}

#carousel .arrow-prev img,
#carousel .arrow-next img{
    width: 100%;
}

#carousel .slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

#carousel .slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 2rem;
  margin: 0 5px;
  transition: color 0.5s;
}

#carousel .slider-dots li.active-dot {
  color: #363636;
}

@media screen and (max-width:550px) {
  #carousel{
    height: 30vh;
  }

  #carousel .slide p{
    font-size: 10px;
  }

  #carousel .arrow-prev,
  #carousel .arrow-next{
      width: 20px;
  }
}

/* Carousel Ends Here */