#NavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 786;
}

.navBar {
  width: 80%;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 160px;
  cursor: pointer;
}

.btn-open img {
  width: 25px;
  cursor: pointer;
}

/* actual navbar code */
.overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #12a4d9;
  overflow: auto;
  z-index: 120;
}
.overlay .home{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2%;
  left: 6%;
}

.overlay .home img{
  width: 100%;
  height: 100%;
}
.overlay .contact{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.overlay .contact img{
  width: 100%;
  height: 100%; 
}
.wrap {
  color: #e9e9e9;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.close-nav{
  position: absolute;
  top: 2%;
  right: 6%;
  height: 40px;
  width: 40px;
}

.close-nav img{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.wrap ul.wrap-nav {
  border-bottom: 1px solid #575757;
  text-transform: capitalize;
  padding: 150px 0px 100px;
  margin-top: 25px;
}
.wrap ul.wrap-nav li {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  position: relative;
}
.wrap ul.wrap-nav .nav-headings{
  font-size: 22px;
  color: #e2d810;
}
.wrap ul.wrap-nav .nav-links{
  color: #f0f0f0;
  font-size: 18px;
}
.wrap ul.wrap-nav li a {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  transition-property: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
  text-decoration: underline;
}
.wrap ul.wrap-nav ul {
  padding: 20px 0;
}
.wrap ul.wrap-nav ul li {
  display: block;
  width: 100%;
  color: #e9e9e9;
}
.wrap ul.wrap-nav ul li a:hover {
  text-decoration: underline;
}
.social {
  font-size: 25px;
  padding: 20px;
}
.social p {
  margin: 0;
  padding: 20px 0 5px 0;
  line-height: 30px;
  font-size: 13px;
}
.social p a {
  color: #34b484;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.social-icon {
  width: 80px;
  height: 50px;
  background: #e9e9e9;
  display: inline-block;
  margin: 0 20px;
  transition: all 0.2s linear 0s;
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.social-icon img{
  height: 30px;
  width: 30px;
  margin-top: 10px;
}
.social-icon:hover {
  box-shadow: none;
}
@media screen and (max-width: 48em) {
  .wrap ul.wrap-nav > li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #322e2f;
  }
  .wrap ul.wrap-nav {
    padding: 30px 0px 0px;
  }
  nav ul {
    opacity: 0;
    visibility: hidden;
  }
  .social {
    color: #c1c1c1;
    font-size: 25px;
    padding: 15px 0;
  }
  .social-icon {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #333;
    display: block;
    margin: 5px 0;
  }
}
.content {
  width: 100%;
  margin-top: 200px;
  font-size: 20px;
  color: #333;
  text-align: center;
}
